body {
    background-color: rgb(228, 168, 232);
    border-radius: 30px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

/*CAN ALSO STYLE BUTTON IN JS*/
/* #toggleJokes{
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    border: 3px solid darkred;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
} */

p {
    font-size: 30px; 
}

.formatText{
    color: rgb(123, 52, 24);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: pre-line; /*this controls how white space is handled - pre-line = keeps q/a lines separate*/
}

#joke{
    border: 5px solid rgb(223, 241, 58);
    background-color: rgb(24, 47, 163);
    display: flex; /*defines flexbox layout*/
    /*set layout direction to column - flexbox can do rows or col*/
    flex-direction: column;  /*sets the jokes one below the other evenly spaced*/
    justify-content: center; /*will move joke id to center */
    align-items: center;
    width: 50%; /*sets width of flexbox to 50% of screen width*/
    margin: 0 auto; /*container centered on screen (even margins on all sides*/
    color: rgb(225, 251, 224);
}

#poem{
    border: 8px solid rgb(44, 246, 253);
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: right; /*affects h2/h3*/
    align-items: first baseline; /*affects h2/h3*/
    width: 40%;
    margin: 70px auto;
}

a{
    text-decoration: underline wavy;
    color: greenyellow;
}

/*Can style img in CSS or JS*/
img{
    border-radius: 65px;
}

/*ADDED FOOTER IN JS - CAN STYLE IT IN CSS */
/* footer{
    padding-bottom: 12px;
} */