@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Yuji+Mai&display=swap');

#map{
    height: 600px;
    width: 75%;
}

body{
    background: linear-gradient(0.25turn,
        #ec6fb3,
        #a9b69f,
        #289775);
}

h1{
    font-family: 'Pattaya',
        sans-serif;
    font-family: 'Yuji Mai',
        serif;
    color: rgb(94, 92, 205);
    font-style: italic;
}

#pan-to-flatbush{
    margin-right: 40px;
}

button{
    margin: 15px auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: lavender;
    text-shadow: 1px 1px 1px #000; /*creates shadow from the text*/
    border-radius: 10px;
    background-color: rgb(86, 243, 175);
    /*this creates a gradient fro the background color - not just solid red*/
    background-image: linear-gradient(to top left,
            rgba(244, 80, 80, 0.712),
            rgb(72, 31, 137) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }

button:hover{
    color: rgb(86, 243, 175);
    background-color: lavender;
}

button:active{
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#neighborhoods{
    columns: 100px 3;
}

#neighborhoods,a{
    color: navy;
}

#neighborhoods,a:hover {
    color: lightblue;
    text-decoration: none;
}

#neighborhoods,a:active{
    color: gold;

}

