#map{
    height: 600px;
    width: 60%;
}

#selectBorough{
    position: relative;
    width: 150px;
    background: rgb(248, 214, 214);
}

section{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#info{
    margin: 50px;
}



